# Data Preprocessing & Analysis
pandas
numpy
openpyxl   # For Excel export

# Database Connectivity
mysql-connector-python

# Optional: Jupyter Notebook (for project_setup.ipynb)
jupyter

#pip install streamlit pandas numpy matplotlib seaborn scikit-learn tensorflow
